.all {
  background-image: url("https://i.pinimg.com/564x/cf/56/2b/cf562b8128e55957be45acadc4f63745.jpg");
  background-size: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}



.form-control {
  box-shadow: #cfe4e9 0px 8px 8px 0;
}
button {
  border-radius: 10px 10px 10px 10px;
  border: 0;

  font-size: 16px;

  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(90, 90, 255);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.results {
  margin: 30px 70px;
  padding: 20px 30px;
  width: 60%;
  line-height: 20px;
}

.city {
  font-size: 40px;
  line-height: 1.5em;
  margin-bottom: 20px;
  color:#104d5e;
}

.temperature {
  font-size: 40px;
  margin-bottom: 20px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -15px;
}

.temperature .active {
  color:#104d5e; 
  cursor: default;
}

a {
  text-decoration: none;
}

.forecast {
  margin-left: 14px;
  width: 70%;
}

#forecast-days {
  margin: 0 5px 30px 0;
  padding: 10px 10px 30px 0px;
  text-align: center;
  line-height: 40px;
}

.forecast-date {
  font-size: larger;
}

.forecast-temperature-max {
  font-weight: 600;
}

.weather, .name, .code {
 color:#104d5e; 
}

  h1 {
    padding: 20px 0;
    color:rgb(16, 77, 94);
}

  .results {
  margin: 0 auto;
}

  .forecast {
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

  .city {
  font-size: 26px;
  color:#104d5e;  
}

  .temperature {
  font-size: 26px;
}

  .units {
  font-size: 18px;
}
}
