.all {
  background-image: url("https://i.pinimg.com/564x/cf/56/2b/cf562b8128e55957be45acadc4f63745.jpg");
  background-size: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

h1,
.temperature,
.units {
  color: rgb(16, 77, 94);
  font-size: 35px;
}

.form-control {
  background-color: #a0c1f3;
  border-radius: 10px 10px 10px 10px;

  width: 280px;
  height: 38px;
}

.button {
  border-radius: 10px 10px 10px 10px;
  border: 0;

  font-size: 16px;

  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(90, 90, 255);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
  background-color: rgb(125, 153, 255);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.sun {
  font-size: 80px;
}

.temp {
  text-align: center;
  color: rgb(16, 77, 94);
  font-size: 20px;
}

h3,
.col-3  {
  color: rgb(16, 77, 94);
  font-size: 25px;
}
